{%extends "bootstrap/base.html"%}
{%block navbar%}
<title>Redl Karton</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="static/styles.css" type="text/css" />
<body>
<h1><img src="static/logo2.jpg" alt="logo" style="margin-left: 5cm;margin-top: 1cm;">
</h1>
<hr />
<div id="tabs" style="margin-left: 5cm; width: 40cm;">
  <ul>
    <li><a href="home" style= "margin-left: 13cm;"><span> Karton </span></a></li>
    <li><a href="culori"><span>Farben</span></a></li>
    <li><a href="addcarton"><span>Neue Karton</span></a></li>
    <li><a href="addcolor"><span>Neue Farbe</span></a></li>
  </ul>
</div>
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-warning" role="alert" style="margin-top: 1.5cm;align-self: start;width: 15cm;margin-left: 5cm;margin-bottom: -2cm;">
            {% else %}
              <div class="alert alert-{{ category }}" role="alert" style="margin-top: 1.5cm;align-self: start;width: 40cm;margin-left: 5cm;margin-bottom: -2cm;text-align: center;">
            {% endif %}
              {{ message }}
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>
</body>
{% endblock %}